In [129]:
#pyvizenv environment needed
#commented out libraries & APIs we aren't currently using - kp

import requests
# initial imports
import os
import pandas as pd
#import panel as pn
#import plotly.express as px
#import plotly.graph_objects as go
#import holoviews as hv
#from pathlib import Path
import datetime
from dotenv import load_dotenv
import json


load_dotenv()
rapid_api_key = os.getenv("RAPID_API_KEY")

In [105]:
#import hvplot.pandas
#import matplotlib.pyplot as plt

In [106]:
# Read the Mapbox API key
#load_dotenv()
#mapbox_token = os.getenv("MAPBOX")
#px.set_mapbox_access_token(mapbox_token)

In [107]:
#alpaca_token = os.getenv("ALPACA_API_KEY")

In [184]:
# outputs textbox to key in stock symbol and uses api to get historical stock data for that stock
# use code to loop through list of tickers and output daily close data for x amount of time
# updated ticker list to be in same format - kp
# changed order in loop to print ticker symbol at top - kp
# updated url to make api data in json format, changed return to dump with indents - kp

tickers = ["BTC-USD", "DJIA", "GLD", "DX-Y.NYB", "QQQ", "SPY", "WTI"]

def data_grab(ticker):
    """
    Takes in arg "ticker" as a str object,
    and returns daily stock information for that
    symbol/ticker.
    
    date/open/high/low/close/volume/adjclose
    """
    
    #Inital Lists
    
    closing_price_list = []
    closing_date_list = []
    closing_volume_list = []
    
    #API Information
    
    url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v3/get-historical-data"
    url += "?format=json"
    querystring = {"symbol":""}
    querystring['symbol']=ticker
    headers = {
        'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
        'x-rapidapi-key': rapid_api_key
        }
    response_data = requests.get(url, headers=headers, params=querystring)
    daily_data = response_data.json()
    daily_prices = daily_data['prices']
    
    # For Loop grabbing API Data and appending lists
    
    for daily_info in daily_prices:
        try:
            closing_date_list.append(datetime.datetime.fromtimestamp(daily_info['date']).strftime('%Y-%m-%d'))
            closing_price_list.append(daily_info['close'])
            closing_volume_list.append(daily_info['volume'])
        except:
            print(" ")
    
    # Clean Date List incase of duplicates (stock splits etc.)
    
    clean_date_list = list(dict.fromkeys(closing_date_list))
    
    # Creating a Pandas DataFrame 
    
    d = {'Dates':clean_date_list, "Closing Prices":closing_price_list, "Volume":closing_volume_list}
    df = pd.DataFrame(data=d)
    
    # Return/Display DataFrame
    
    return df

#return(print(json.dumps(daily_data, indent=4)))

In [159]:
##############
# TEST  AREA #
##############

#Initial Variables
closing_price_list = []
closing_date_list = []
closing_volume_list = []

#API Information
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v3/get-historical-data"
url = url + "?format=json"
querystring = {"symbol":""}
querystring['symbol']="TSLA"
headers = {
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
    'x-rapidapi-key': rapid_api_key
    }

#Response Information
response_data = requests.get(url, headers=headers, params=querystring)
daily_data = response_data.json()
daily_prices = daily_data['prices']

#Loop to grab closing price
for daily_info in daily_prices:
    try:
        closing_date_list.append(datetime.datetime.fromtimestamp(daily_info['date']).strftime('%Y-%m-%d'))
        closing_price_list.append(daily_info['close'])
        closing_volume_list.append(daily_info['volume'])
    except:
        print("N/A")
        
clean_date_list = list(dict.fromkeys(closing_date_list))

d = {'Dates':clean_date_list, "Closing Prices":closing_price_list, "Volume":closing_volume_list}
df = pd.DataFrame(data=d)
        
df

N/A

          Dates  Closing Prices     Volume
0    2020-09-18      442.149994   85995000
1    2020-09-17      423.429993   76779200
2    2020-09-16      441.760010   72279300
3    2020-09-15      449.760010   97298200
4    2020-09-14      419.619995   83020600
5    2020-09-11      372.720001   60717500
6    2020-09-10      371.339996   84930600
7    2020-09-09      366.279999   79465800
8    2020-09-08      330.209991  115465700
9    2020-09-04      418.320007  110321900
10   2020-09-03      407.000000   87596100
11   2020-09-02      447.369995   96176100
12   2020-09-01      475.049988   90119400
13   2020-08-31      498.320007  118374400
14   2020-08-28      442.679993  100406000
15   2020-08-27      447.750000  118465000
16   2020-08-26      430.634003   71197000
17   2020-08-25      404.667999   53294500
18   2020-08-24      402.839996  100318000
19   2020-08-21      409.996002  107448000
20   2020-08-20      400.365997  103059000
21   2020-08-19      375.705994   61026500
22   2020-08-18      377.417999   82372500
23   2020-08-17      367.127991  101211500
24   2020-08-14      330.141998   62888000
25   2020-08-13      324.200012  102126500
26   2020-08-12      310.951996  109494000
27   2020-08-11      274.877991   43129000
28   2020-08-10      283.713989   37611500
29   2020-08-07      290.541992   44482000
..          ...             ...        ...
223  2019-10-30       63.001999   48209000
224  2019-10-29       63.243999   63421500
225  2019-10-28       65.542000   94351500
226  2019-10-25       65.625999  150030500
227  2019-10-24       59.936001  148604500
228  2019-10-23       50.936001   26305500
229  2019-10-22       51.116001   23004000
230  2019-10-21       50.700001   25101500
231  2019-10-18       51.389999   28749000
232  2019-10-17       52.394001   23846500
233  2019-10-16       51.950001   33420500
234  2019-10-15       51.577999   32164000
235  2019-10-14       51.391998   51025000
236  2019-10-11       49.577999   42377000
237  2019-10-10       48.948002   31416500
238  2019-10-09       48.905998   34472000
239  2019-10-08       48.009998   43391000
240  2019-10-07       47.543999   40321000
241  2019-10-04       46.285999   39975000
242  2019-10-03       46.605999   75422500
243  2019-10-02       48.625999   28157000
244  2019-10-01       48.938000   30813000
245  2019-09-30       48.174000   29399000
246  2019-09-27       48.425999   55582000
247  2019-09-26       48.512001   59422500
248  2019-09-25       45.740002   47135500
249  2019-09-24       44.641998   64457500
250  2019-09-23       48.245998   21701000
251  2019-09-20       48.124001   31765000
252  2019-09-19       49.320000   23979000

[253 rows x 3 columns]

In [ ]:
# NEXT STEPS
# create dataframes with api data